<div class="PayReceipt row mb-2">
  <div class="col-md-12">
    <div class="card-body">
      <div class="card-header text-center mx-auto text-center">
        <h1 class="display-6">Payment Invoice</h1>
      </div>
      <div class="card p-2 justify-content-md-center">
        <div class="my-4 text-left">
          <table class="table mx-auto">
            <tbody>
              <tr>
                <th scope="row">Transaction Id</th>
                <td>{{txnResponse.paymentId}}</td>
              </tr>
              <tr>
                <th scope="row">Debited Account Details</th>
                <td>{{txnResponse.fromAccount.customerName}}: {{txnResponse.fromAccount.accountId}}</td>
              </tr>
              <tr>
                <th scope="row">Credited Account</th>
                <td>{{txnResponse.toAccount.customerName}}: {{txnResponse.toAccount.accountId}}</td>
              </tr>
              <tr>
                <th scope="row">Amount Transferred</th>
                <td>{{txnResponse.amount.currency}} {{txnResponse.amount.amount}}</td>
              </tr>
              <tr>
                <th scope="row">Status</th>
                <td>{{txnResponse.status}}</td>
              </tr>
              <tr>
                <th scope="row">Timestamp</th>
                <td *ngIf="txnResponse.timestamp">{{txnResponse.timestamp}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <div class="mr-auto p-2">
    <a class="btn btn-outline-secondary px-5 mb-3 " (click)="returnToECApp()">Back</a>
    <p><small class="text-muted">*This will redirect you to the <br>respective merchandise website</small></p>
  </div>
  <div class="p-2"></div>
  <div class="p-2">
    <a class="btn btn-outline-secondary px-5 mb-3" (click)="printInvoice()">Print Invoice</a>
  </div>
</div>


<ngx-spinner>
  <p style="color: white"> Returning to {{txnDetails.metaData.redirectionLink}}</p>
</ngx-spinner>