<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 text-center mx-auto text-center">
    <h1 class="display-4">Transaction Details</h1>
</div>
<table class="table mx-auto">
    <tbody>
      <tr>
        <th scope="row">Transaction Id</th>
        <td>{{txnDetails.paymentId}}</td>
      </tr>
      <tr>
        <th scope="row">Debited Account Details</th>
        <td>{{txnDetails.fromAccount.customerName}}: {{txnDetails.fromAccount.accountId}}</td>
      </tr>
      <tr>
        <th scope="row">Credited Account</th>
        <td>{{txnDetails.toAccount.customerName}}: {{txnDetails.toAccount.accountId}}</td>
      </tr>
      <tr>
        <th scope="row">Amount Transferred</th>
        <td>{{txnDetails.amount.currency}} {{txnDetails.amount.amount}}</td>
      </tr>
      <tr>
        <th scope="row">Status</th>
        <td>{{txnDetails.status}}</td>
      </tr>
      <tr>
        <th scope="row">Timestamp</th>
        <td *ngIf="txnDetails.timestamp">{{txnDetails.timestamp}}</td>
      </tr>
    </tbody>
  </table>